@media (max-width: 1450px) {
  .carousel-container {
    max-height: 280px;
  }

  .movie-cards-container .carousel {
    min-height: 200px;
  }

  .movie-card {
    width: 20%;
    min-width: 20%;
  }
}

@media (max-width: 1100px) {
  .movie-card {
    width: 25%;
    min-width: 25%;
  }
}
